In [2]:
import pandas as pd

In [11]:
df = pd.read_csv("athlete_events.csv", index_col="ID")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271116 entries, 1 to 135571
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    271116 non-null  object
 1   Sex     271116 non-null  object
 2   Age     261642 non-null  float64
 3   Height  210945 non-null  float64
 4   Weight  208241 non-null  float64
 5   Team    271116 non-null  object
 6   NOC     271116 non-null  object
 7   Games   271116 non-null  object
 8   Year    271116 non-null  int64
 9   Season  271116 non-null  object
 10  City    271116 non-null  object
 11  Sport   271116 non-null  object
 12  Event   271116 non-null  object
 13  Medal   39783 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 31.0+ MB

In [12]:
df.isna().sum()

Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [13]:
df["Age"].unique()

array([24., 23., 34., 21., 25., 27., 31., 33., 18., 26., 22., 30., 32.,
       28., 54., 20., 17., 43., 47., 29., 41., 45., 49., 53., 57., nan,
       19., 38., 35., 16., 37., 15., 42., 46., 40., 36., 14., 39., 48.,
       52., 44., 55., 50., 71., 63., 51., 58., 13., 60., 75., 65., 56.,
       64., 68., 84., 12., 72., 59., 61., 70., 74., 62., 67., 69., 73.,
       66., 11., 76., 88., 96., 80., 10., 81., 77., 97.])

In [14]:
df["Height"].unique()

array([180., 170.,  nan, 185., 188., 183., 168., 186., 182., 172., 159.,
       171., 184., 175., 189., 176., 163., 187., 169., 174., 190., 194.,
       177., 167., 164., 198., 165., 156., 179., 178., 166., 181., 155.,
       160., 173., 192., 195., 191., 203., 158., 154., 153., 152., 193.,
       162., 197., 157., 207., 147., 150., 202., 161., 210., 205., 200.,
       148., 208., 140., 213., 204., 151., 196., 146., 201., 132., 149.,
       199., 211., 215., 139., 206., 135., 142., 217., 209., 145., 221.,
       144., 214., 143., 218., 127., 223., 216., 141., 212., 131., 136.,
       137., 138., 220., 130., 219., 133., 128., 226.])

In [18]:
df["Weight"].unique()

array([ 80.        ,  60.        ,          nan,  82.        ,
        75.        ,  72.        ,  96.        ,  76.5       ,
        70.        ,  55.5       ,  65.        ,  85.        ,
        64.        , 130.        , 125.        ,  89.        ,
        77.        ,  76.        ,  98.        ,  78.        ,
        73.        ,  93.        ,  74.        , 106.        ,
        58.        ,  66.        ,  71.        ,  90.        ,
        87.        ,  49.        ,  48.        ,  83.        ,
        86.        ,  55.        ,  67.        ,  97.        ,
       105.        ,  43.        ,  79.        ,  51.        ,
        88.        ,  62.        ,  53.        , 104.        ,
        57.        ,  63.        ,  52.        ,  91.        ,
        94.        ,  56.        ,  68.        ,  61.        ,
        69.        ,  46.        , 100.        ,  81.        ,
        92.        , 120.        ,  95.        ,  59.        ,
        50.        , 117.5       ,  54.        ,  47.        ,
       117.        ,  84.        , 102.        ,  40.        ,
       115.        , 110.        ,  45.        ,  99.        ,
       109.        ,  69.5       , 135.        ,  38.        ,
        77.5       , 103.        , 163.        , 113.        ,
        42.        ,  91.5       ,  82.5       ,  68.5       ,
       116.        , 107.        ,  96.5       ,  83.5       ,
        44.        , 122.        , 102.5       ,  71.5       ,
       156.        , 150.        , 160.        ,  95.5       ,
       101.        , 146.        , 138.        , 112.        ,
       108.        , 140.        , 141.        ,  63.5       ,
       114.        , 118.        ,  52.5       , 127.        ,
        39.        ,  73.5       , 155.        ,  74.5       ,
        32.        , 143.        , 133.        ,  70.5       ,
       126.        ,  53.5       , 121.        ,  67.5       ,
       111.        , 123.5       ,  41.        ,  36.        ,
       132.        , 128.        ,  65.5       ,  98.5       ,
       124.        ,  59.5       ,  66.5       , 127.5       ,
        35.        , 144.        ,  58.5       , 214.        ,
        81.5       ,  37.        , 146.5       , 116.5       ,
       148.        , 123.        ,  89.5       , 133.5       ,
        86.5       ,  85.5       , 101.5       , 154.        ,
       139.        ,  57.5       , 136.        ,  54.5       ,
       137.        , 170.        ,  30.        ,  25.        ,
        77.33333333, 131.        ,  79.5       ,  34.        ,
       119.        , 134.        ,  33.        , 109.5       ,
        90.5       , 129.        , 147.        ,  56.5       ,
        78.5       , 165.        ,  88.5       ,  62.5       ,
        60.5       , 158.        ,  75.5       , 190.        ,
        64.5       , 145.        , 121.5       ,  61.5       ,
       161.        , 176.5       ,  87.5       , 100.5       ,
       149.        , 152.        , 108.5       ,  28.        ,
        48.5       , 138.5       ,  72.5       , 129.5       ,
       131.5       , 167.        ,  84.5       ,  49.5       ,
        51.5       , 112.5       , 118.5       , 142.        ,
        80.5       , 106.5       , 107.5       ,  31.        ,
       135.5       , 137.5       ,  93.5       ,  97.5       ,
       103.5       , 175.        , 151.        , 198.        ,
       178.        ,  92.5       , 180.        , 104.5       ,
       105.5       , 122.5       , 182.        ,  74.66666667,
       130.5       ])

In [19]:
df["Medal"].unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

In [25]:
df.fillna({"Age":df["Age"].median(),
            "Height":df["Height"].median(),
            "Weight":df["Age"].median(),
            "Medal":df["Medal"].mode()[0]}, inplace=True)

In [27]:
df

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,Gold
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,Gold
3,Gunnar Nielsen Aaby,M,24.0,175.0,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,Gold
4,Edgar Lindenau Aabye,M,34.0,175.0,24.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,Gold
135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",Gold
135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",Gold
135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,Gold
135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,Gold