## Questions for Cleaning the Dataset

1.Identify and Remove Duplicates:

2.Trim Trailing Whitespace:

3.Standardize Data Formats:

4.Handle Missing Values:

5.Validate Data Accuracy:

6.Check for Inconsistencies:

7.Normalize Text Fields:

8.Ensure Data Type Consistency:

9.Detect and Correct Typos:

In [1]:
import pandas as pd
import clean_mod as mod # imported my custom module

In [2]:
data = pd.read_excel("bank_loan.xlsx")
data

      Loan_ID   Applicant_Name  Loan_Amount Loan_Status  Loan_Term
0    LP001002        John Doe          5000          Y         360
1    LP001003       Jane Smith         4000          N         120
2    LP001004  Michael Johnson         6000           Y        360
3    LP001005      Emily Davis         5000           Y        360
4    LP001002         John Doe         5000           Y        360
..        ...              ...          ...         ...        ...
96   LP001096   James Robinson         3000           Y        360
97   LP001097    Evelyn Harris         6000           Y        180
98   LP001098    Michael Lewis         5000           Y        360
99   LP001099     Amelia Allen         7000           N        120
100  LP001100        Noah Hill         4000           Y        360

[101 rows x 5 columns]

## 1.Identify and Remove Duplicates

In [3]:
data.duplicated().sum()

1

In [4]:
data.drop_duplicates(inplace=True)

## 2.Trim Trailing Whitespace:

In [5]:
data.columns

Index(['Loan_ID', 'Applicant_Name', 'Loan_Amount', 'Loan_Status', 'Loan_Term'], dtype='object')

In [8]:
for column in data.columns:
    print(data[column])

0      LP001002
1      LP001003
2      LP001004
3      LP001005
4      LP001002
         ...
96     LP001096
97     LP001097
98     LP001098
99     LP001099
100    LP001100
Name: Loan_ID, Length: 100, dtype: object
0            John Doe
1           Jane Smith
2      Michael Johnson
3          Emily Davis
4             John Doe
            ...
96      James Robinson
97       Evelyn Harris
98       Michael Lewis
99        Amelia Allen
100          Noah Hill
Name: Applicant_Name, Length: 100, dtype: object
0      5000
1      4000
2      6000
3      5000
4      5000
       ...
96     3000
97     6000
98     5000
99     7000
100    4000
Name: Loan_Amount, Length: 100, dtype: int64
0      Y
1      N
2       Y
3       Y
4       Y
       ..
96      Y
97      Y
98      Y
99      N
100     Y
Name: Loan_Status, Length: 100, dtype: object
0      360
1      120
2      360
3      360
4      360
      ...
96     360
97     180
98     360
99     120
100    360
Name: Loan_Term, Length: 100, dtype: int64

In [15]:
# just used a method of custom module created by me
mod.whitespace_remover(data)

      Loan_ID   Applicant_Name  Loan_Amount Loan_Status  Loan_Term
0    LP001002         John Doe         5000           Y        360
1    LP001003       Jane Smith         4000           N        120
2    LP001004  Michael Johnson         6000           Y        360
3    LP001005      Emily Davis         5000           Y        360
4    LP001002         John Doe         5000           Y        360
..        ...              ...          ...         ...        ...
96   LP001096   James Robinson         3000           Y        360
97   LP001097    Evelyn Harris         6000           Y        180
98   LP001098    Michael Lewis         5000           Y        360
99   LP001099     Amelia Allen         7000           N        120
100  LP001100        Noah Hill         4000           Y        360

[100 rows x 5 columns]

In [14]:
for column in data.columns:
    print(data[column])

0      LP001002
1      LP001003
2      LP001004
3      LP001005
4      LP001002
         ...
96     LP001096
97     LP001097
98     LP001098
99     LP001099
100    LP001100
Name: Loan_ID, Length: 100, dtype: object
0             John Doe
1           Jane Smith
2      Michael Johnson
3          Emily Davis
4             John Doe
            ...
96      James Robinson
97       Evelyn Harris
98       Michael Lewis
99        Amelia Allen
100          Noah Hill
Name: Applicant_Name, Length: 100, dtype: object
0      5000
1      4000
2      6000
3      5000
4      5000
       ...
96     3000
97     6000
98     5000
99     7000
100    4000
Name: Loan_Amount, Length: 100, dtype: int64
0      Y
1      N
2      Y
3      Y
4      Y
      ..
96     Y
97     Y
98     Y
99     N
100    Y
Name: Loan_Status, Length: 100, dtype: object
0      360
1      120
2      360
3      360
4      360
      ...
96     360
97     180
98     360
99     120
100    360
Name: Loan_Term, Length: 100, dtype: int64

## 3.Standardize Data Formats:

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 100
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Loan_ID         100 non-null    object
 1   Applicant_Name  100 non-null    object
 2   Loan_Amount     100 non-null    int64
 3   Loan_Status     100 non-null    object
 4   Loan_Term       100 non-null    int64
dtypes: int64(2), object(3)
memory usage: 4.7+ KB

In [24]:
for i in data.columns:
    print(data[i].unique())

['LP001002' 'LP001003' 'LP001004' 'LP001005' 'LP001006' 'LP001007'
 'LP001008' 'LP001009' 'LP001010' 'LP001011' 'LP001012' 'LP001013'
 'LP001014' 'LP001015' 'LP001016' 'LP001017' 'LP001018' 'LP001019'
 'LP001020' 'LP001021' 'LP001022' 'LP001023' 'LP001024' 'LP001025'
 'LP001026' 'LP001027' 'LP001028' 'LP001029' 'LP001030' 'LP001031'
 'LP001032' 'LP001033' 'LP001034' 'LP001035' 'LP001036' 'LP001037'
 'LP001038' 'LP001039' 'LP001040' 'LP001041' 'LP001042' 'LP001043'
 'LP001044' 'LP001045' 'LP001046' 'LP001047' 'LP001048' 'LP001049'
 'LP001050' 'LP001051' 'LP001052' 'LP001053' 'LP001054' 'LP001055'
 'LP001056' 'LP001057' 'LP001058' 'LP001059' 'LP001060' 'LP001061'
 'LP001062' 'LP001063' 'LP001064' 'LP001065' 'LP001066' 'LP001067'
 'LP001068' 'LP001069' 'LP001070' 'LP001071' 'LP001072' 'LP001073'
 'LP001074' 'LP001075' 'LP001076' 'LP001077' 'LP001078' 'LP001079'
 'LP001080' 'LP001081' 'LP001082' 'LP001083' 'LP001084' 'LP001085'
 'LP001086' 'LP001087' 'LP001088' 'LP001089' 'LP001090' 'LP001091'
 'LP001092' 'LP001093' 'LP001094' 'LP001095' 'LP001096' 'LP001097'
 'LP001098' 'LP001099' 'LP001100']
['John Doe' 'Jane Smith' 'Michael Johnson' 'Emily Davis' 'Jessica Miller'
 'Chris Brown' 'Laura Wilson' 'James Moore' 'Olivia Anderson'
 'Liam Walker' 'Mia Thompson' 'Noah Robinson' 'Emma Harris'
 'William Clark' 'Ava Lewis' 'Mason Allen' 'Sophia Young' 'Isabella King'
 'James Scott' 'Benjamin Hill' 'Charlotte Green' 'Lucas Adams'
 'Evelyn Baker' 'Henry Gonzalez' 'Harper Nelson' 'Alexander Carter'
 'Amelia Mitchell' 'Michael Perez' 'Oliver Roberts' 'Emily Turner'
 'Daniel Phillips' 'Grace Campbell' 'Jackson Parker' 'Avery Edwards'
 'Aiden Collins' 'Ella Stewart' 'Liam Morris' 'Sophia Rogers' 'Lucas Reed'
 'Charlotte Cook' 'Henry Morgan' 'Amelia Bell' 'Oliver Murphy'
 'Ava Bailey' 'James Cooper' 'Harper Richardson' 'Michael Cox'
 'Emma Howard' 'Mia Ward' 'Noah Brooks' 'Isabella Lee' 'James Hughes'
 'Charlotte Long' 'Liam Jenkins' 'Evelyn Perry' 'William Ramirez'
 'Ava Gray' 'Michael Brooks' 'Emma Hughes' 'Noah Long' 'Lucas Richardson'
 'Sophia Cox' 'James Howard' 'Evelyn Gray' 'Harper Jenkins' 'Liam Perry'
 'Charlotte Ward' 'Henry Lee' 'Ava Walker' 'Oliver Ramirez'
 'James Phillips' 'Amelia Harris' 'William Baker' 'Emily Carter'
 'Liam Allen' 'Noah Scott' 'Grace Lewis' 'Oliver Green' 'Evelyn Hill'
 'Jackson Mitchell' 'Harper Thompson' 'Mia Adams' 'Isabella Nelson'
 'Sophia Brown' 'James Gonzalez' 'Oliver Johnson' 'Emily Young'
 'Henry Moore' 'Ava Anderson' 'Michael Thomas' 'Charlotte Walker'
 'Lucas White' 'Liam Clark' 'Sophia Martinez' 'James Robinson'
 'Evelyn Harris' 'Michael Lewis' 'Amelia Allen' 'Noah Hill']
[5000 4000 6000 3000 7000 6500 5500 4500 2000]
['Y' 'N']
[360 120 180]

In [32]:
data["Applicant_Name"] = data["Applicant_Name"].str.title()

## 4.Handle Missing Values:

In [26]:
data.shape

(100, 5)

In [33]:
data.isnull().sum()

Loan_ID           0
Applicant_Name    0
Loan_Amount       0
Loan_Status       0
Loan_Term         0
dtype: int64

## 6.Check for Inconsistencies:

In [47]:
for x in data["Loan_ID"]:
    if len(data[data["Loan_ID"] == x]) > 1:
        print(data[data["Loan_ID"] == x])

    Loan_ID Applicant_Name  Loan_Amount Loan_Status  Loan_Term
0  LP001002       John Doe         5000           Y        360
4  LP001002       John Doe         5000           Y        360
    Loan_ID Applicant_Name  Loan_Amount Loan_Status  Loan_Term
0  LP001002       John Doe         5000           Y        360
4  LP001002       John Doe         5000           Y        360

In [52]:
data.drop_duplicates(subset="Loan_ID", inplace=True)

In [54]:
data[data["Loan_ID"] == "LP001002"]

    Loan_ID Applicant_Name  Loan_Amount Loan_Status  Loan_Term
0  LP001002       John Doe         5000           Y        360